*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgba(0, 255, 0, 0.6);
    text-align: center;
}

.container{
    height: 70vh;
    display: flex;
    justify-self: center;
    align-items: center;
}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5vmin;
}
.box{
    height: 18vmin;
    width: 18vmin;
    border: none;
    border-radius: 1rem;
    background-color: white;
    font-weight: 550;
    /* color: white; */
    font-size: 8.7vmin;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.4);
}
.box_color1{
    color: maroon;
}
.box_color2{
    color: blue;
}

#reset-btn{
    height: 8vmin;
    width: 25vmin;
    margin-top: 1.7vmin;
    border-radius: 1rem;
    background-color: black;
    border: none;
    font-size: 1.2rem;
    color: white;
}

.new-btn{
    height: 8vmin;
    width: 25vmin;
    margin-bottom: 2vmin;
    border-radius: 1rem;
    background-color: black;
    border: none;
    font-size: 1.2rem;
    color: white;
}
#msg{
    font-size: 2rem;
    color: purple;
    font-weight: bolder;
}
.hide{
    display: none;
}